org: mykyo
app: aws-test-task-3
service: pdf-rag-infra

plugins:
  - serverless-step-functions

build:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: node20
    platform: node

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  stage: dev
  environment:
    PDF_BUCKET_NAME: mykyo-${self:service}-${self:provider.stage}

    GEMINI_API_KEY: ${ssm:/infra/${self:provider.stage}/gemini/apiKey}

    PINECONE_API_KEY: ${ssm:/infra/${self:provider.stage}/pinecone/apiKey}
    PINECONE_INDEX: pdf-rag-${self:provider.stage}

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:GetObject
          Resource:
            - arn:aws:s3:::${self:provider.environment.PDF_BUCKET_NAME}/*
        - Effect: Allow
          Action:
            - states:StartExecution
          Resource: "*"
        - Effect: Allow
          Action:
            - ssm:GetParameter
          Resource:
            - arn:aws:ssm:${self:provider.region}:*:parameter/infra/${self:provider.stage}/gemini/*
            - arn:aws:ssm:${self:provider.region}:*:parameter/infra/${self:provider.stage}/pinecone/*

functions:
  extractText:
    handler: handlers/extractText.handler
    timeout: 30
    memorySize: 512

  chunkText:
    handler: handlers/chunkText.handler
    timeout: 30
    memorySize: 512

  embedding:
    handler: handlers/embedding.handler
    timeout: 120

  writeVectors:
    handler: handlers/pinecone.handler
    timeout: 120

  error:
    handler: handlers/error.handler

stepFunctions:
  stateMachines:
    PdfProcessingStateMachine:
      name: pdf-processing-${self:provider.stage}
      definition:
        StartAt: ExtractText
        States:
          ExtractText:
            Type: Task
            Resource:
              Fn::GetAtt: [ExtractTextLambdaFunction, Arn]
            Next: ChunkText
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.errorInfo"
                Next: UpdateStatusError

          ChunkText:
            Type: Task
            Resource:
              Fn::GetAtt: [ChunkTextLambdaFunction, Arn]
            Next: ChunksEmbedding
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.errorInfo"
                Next: UpdateStatusError

          ChunksEmbedding:
            Type: Task
            Resource:
              Fn::GetAtt: [EmbeddingLambdaFunction, Arn]
            Next: VectorsWriting
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.errorInfo"
                Next: UpdateStatusError

          VectorsWriting:
            Type: Task
            Resource:
              Fn::GetAtt: [WriteVectorsLambdaFunction, Arn]
            End: true
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.errorInfo"
                Next: UpdateStatusError

          UpdateStatusError:
            Type: Task
            Resource:
              Fn::GetAtt: [ErrorLambdaFunction, Arn]
            End: true

      events:
        - eventBridge:
            enabled: true
            event:
              source:
                - aws.s3
              detail-type:
                - Object Created
              detail:
                bucket:
                  name:
                    - ${self:provider.environment.PDF_BUCKET_NAME}
                object:
                  key:
                    - wildcard: docs/*/*.pdf

resources:
  Resources:
    PdfUploadBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.PDF_BUCKET_NAME}
        LifecycleConfiguration:
          Rules:
            - Id: TmpExpiration
              Status: Enabled
              Prefix: tmp/
              ExpirationInDays: 1
        NotificationConfiguration:
          EventBridgeConfiguration:
            EventBridgeEnabled: true

    EventBridgeInvokeRole:
      Type: AWS::IAM::Role
      Properties:
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service: events.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: StartStepFunction
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action: states:StartExecution
                  Resource: "*"
